<h1>Hello <span id="usr">{{usr}}</span></h1>
<p>Welcome to HZNU</p>

<a href="/signin">前往登录</a>

{{#each users}}
<ul>
  <li>email: {{this.email}}</li>
  <li>pwd: {{this.pwd}}</li>
</ul>
{{/each}}

<script>
  window.onload = function() {
    axios.get('/usr').then(r => {
      console.log(r.data)
      let usr = document.getElementById('usr')
      usr.innerText = r.data.usr
    })
  }
</script>
